@charset "utf-8";
@import url("reset.css");
/* CSS Document */

.wrap {width:100%; height:100%; position:relative;}

/* .creativeList {width:100%; height:100%; position:relative; overflow:hidden;}
.creativeList>ul {}
.creativeList>ul>li {width:100%; position:absolute; left:50%; margin-left:-25%; background-size:cover;}
.creativeList>ul>li .cir_img {}
.creativeList>ul>li .cir_img img {width:100%; height:100%;}
.creativeList .creativeTxtBox { position: absolute; left: 0; top: 50%; margin-top: -160px; z-index: 99; width: 100%; padding: 0 20%;}
.creativeList h3 { text-align: center; margin-bottom: 30px;}
    .creativeList dl {}
    .creativeList dl dt { 
        font-family: 'Noto Sans KR';
        font-size: 50px; 
        color: #fff; 
        text-align: center;
        font-weight: 500;
    }
    .creativeList dl dd {text-align: center;}
    .creativeList dl dd p.date {font-size: 12px; color:#fff; text-transform: uppercase; letter-spacing: 10px; padding: 20px 0; position: relative; margin-bottom: 30px;}
    .creativeList dl dd p.date:before {
        width:92px;
        content:'';
        height: 2px;
        background: #ea0f2e;
        margin-left: -46px;
        bottom: 0;
        position: absolute;
        left: 50%;
    }
    .creativeList dl dd p.view { padding: 10px 0 5px; position: relative;}    
    .creativeList dl dd p.view:before {
        width:62px;
        content:'';
        height: 1px;
        background: #fff;
        margin-left: -31px;
        bottom: 0;
        position: absolute;
        left: 50%;        
    }
    .creativeList dl dd p.view a {font-size: 12px; color:#fff; text-transform: uppercase; letter-spacing: 5px; display: inline-block;} */
.creativeList {width:100%; overflow:hidden;}

.creativeBgList {width:100%; position:relative;}
.creativeBgList>ul>li {width:100%; position:absolute; left:0; top:0; z-index:1; overflow:hidden;}
.creativeBgList>ul>li>img {position:absolute; left:50%; top:0;}

.creativeCirList {}
.creativeCirList>ul {width:520px; height:520px; position:absolute; left:50%; top:50%; border-radius:50%; overflow:hidden; margin:-260px 0 0 -260px;}
.creativeCirList>ul>li {width:520px; height:520px; position:absolute; left:0; top:0; z-index:1; border-radius:50%; overflow:hidden;}
.creativeCirList>ul>li.current {z-index:3;}
.creativeCirList>ul>li>img {position:absolute; left:50%; top:0;}
.creativeCirList .creativeTxtBox { position: absolute; left: 0; top: 50%; margin-top: -160px; z-index: 99; width: 100%; /* padding: 0 20%; */}
.creativeCirList h3 { text-align: center; margin-bottom: 30px;}
    .creativeCirList dl {}
    .creativeCirList dl dt { 
        font-family: 'Noto Sans KR';
        font-size: 50px; 
        color: #fff; 
        text-align: center;
        font-weight: 500;
    }
    .creativeCirList dl dd {text-align: center;}
    .creativeCirList dl dd p.date {font-size: 12px; color:#fff; text-transform: uppercase; letter-spacing: 10px; padding: 20px 0; position: relative; margin-bottom: 30px;}
    .creativeCirList dl dd p.date:before {
        width:92px;
        content:'';
        height: 2px;
        background: #ea0f2e;
        margin-left: -46px;
        bottom: 0;
        position: absolute;
        left: 50%;
    }
    .creativeCirList dl dd p.view { padding: 10px 0 5px; position: relative;}    
    .creativeCirList dl dd p.view:before {
        width:62px;
        content:'';
        height: 1px;
        background: #fff;
        margin-left: -31px;
        bottom: 0;
        position: absolute;
        left: 50%;        
    }
    .creativeCirList dl dd p.view a {font-size: 12px; color:#fff; text-transform: uppercase; letter-spacing: 5px; display: inline-block;} */

nav.creativeDir {}
.creativeDir li {position:absolute; top:50%; margin-top:-22px; z-index:10;}
.creativeDir li.creative_prev {left:20px;}
.creativeDir li.creative_next {right:20px;}
.creativeDir li>span {display:inline-block; height:57px; color:#fff; line-height:57px; vertical-align:top;}